*{
    -header-bg-color: #373d48;
    -header-fg-color: #ffffff;
    -inspector-bg-color: #373d48;
    -inspector-btn-bg-color: #335599;
    -inspector-btn-bg-color-hover: #7799cc;
    -inspector-btn-fg-color: #ffffff;
    -inspector-fg-color: #ffffff;
    -inspector-fg-ro-color: #ffffff;
    -inspector-separator-color: #ffffff;
    -log-bg-color: #6f7889;
    -log-border-color: #333333;
    -log-thumb-color: #777777;
    -view-bg-color: #4d5667;
}

.main{
    -fx-background-color: -view-bg-color;
}

.mainComboBox .arrow{
    -fx-background-color: -inspector-btn-fg-color;
}

.mainComboBox .arrow-button{
    -fx-background-color: -inspector-btn-bg-color;
}

.mainComboBox .list-cell{
    -fx-text-fill: -inspector-btn-fg-color;
    -fx-background-color: -inspector-btn-bg-color;
}

.mainComboBox .list-cell:hover{
    -fx-background-color: -inspector-btn-bg-color-hover;
}

.mainHeader{
    -fx-background-color: -header-bg-color;
}

.mainInspector{
    -fx-background-color: -inspector-bg-color;
    -fx-padding: 10px;
}

.mainInspectorLabel{
    -fx-text-fill: -inspector-fg-color;
}

.mainInspectorSpinner .increment-arrow-button,
.mainInspectorSpinner .decrement-arrow-button{
    -fx-body-color: -inspector-btn-bg-color;
}

.mainLog .scroll-bar:vertical{
    -fx-background-color: -log-border-color;
}

.mainLog .scroll-bar:vertical .thumb{
    -fx-background-color: -log-thumb-color;
}

.mainLogPane{
    -fx-background-color: -log-bg-color;
}

.mainLogContent{
    -fx-background-color: -log-bg-color;
}

.mainMenu{
    -fx-background-color: -inspector-bg-color;
}

.mainMenu > .container > .menu-button > .label{
    -fx-text-fill: -header-fg-color;
}

.mainSeparator{
    -fx-background-color: -inspector-separator-color;
}